<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>238968611576-ss11fv7stteqlh09tk8b18ctkrtlt2cg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.238968611576-ss11fv7stteqlh09tk8b18ctkrtlt2cg</string>
	<key>API_KEY</key>
	<string>AIzaSyCfZ5qUlZRI2TvNXy0R5W8S4ww1t7nFkNM</string>
	<key>GCM_SENDER_ID</key>
	<string>238968611576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizWebsite</string>
	<key>PROJECT_ID</key>
	<string>quiz-database-3b25e</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-database-3b25e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238968611576:ios:eb9d4036add3d2dfd5510d</string>
	<key>DATABASE_URL</key>
	<string>https://quiz-database-3b25e-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>